<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ad Sandbox</title>
  </head>
  <body>

    <div class='tiny_ads_slot s1' data-slot-id='1'></div>

    <header>
      <nav>
        <ul>
          <li>Menu item</li>
        </ul>
      </nav>
    </header>

    <div class='tiny_ads_slot s2' data-slot-id='2'></div>

    <section>
      <article>
        <header>
          <h2>Article title</h2>
          <p>Posted on <time datetime="2011-04-15T16:31:24+02:00">April 15th 2011</time> by <a href="#">Writer</a> – <a href="#comments">6 comments</a></p>
        </header>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      </article>
      <article>
        <header>
          <h2>Article title</h2>
          <p>Posted on <time datetime="2011-04-15T16:31:24+02:00">April 15th 2011</time>  by <a href="#">Writer</a> – <a href="#comments">6 comments</a></p>
        </header>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      </article>
    </section>
    <aside>
      <h2>About section</h2>
      <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </aside>

    <div class='tiny_ads_slot s3' data-slot-id='3'></div>

    <script type="text/javascript" charset="utf-8" src='/javascripts/jquery-2.0.2.min.js'></script>
    <script type="text/javascript" charset="utf-8" src='/javascripts/ads.js'></script>

    <footer>
      <p>Copyright 2011 Your name</p>
    </footer>
  </body>
</html>
